.vscode/*
bin/*
.vs
Debug/
*.user
./Tools/Exporter/Library/
build/xcode-ios/Pipeline/Pipeline.xcodeproj/xcuserdata/

build/xcode-ios/Pipeline/Pipeline.xcodeproj/project.xcworkspace/xcuserdata/samsam.xcuserdatad/UserInterfaceState.xcuserstate

build/xcode-ios/Pipeline/Pipeline.xcodeproj/project.xcworkspace/xcuserdata/samsam.xcuserdatad/UserInterfaceState.xcuserstate

build/xcode-ios/Pipeline/Pipeline.xcodeproj/project.xcworkspace/xcuserdata/samsam.xcuserdatad/UserInterfaceState.xcuserstate
pipeline.xcodeproj/project.xcworkspace/xcuserdata/*
pipeline.xcodeproj/xcuserdata/*

